.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
}

h1 {
    text-align: center;
    position: relative;
    align-items: center;
    color: #ffffff;
    top: 45px;
    font: bold 2.5em 'Pacifico', cursive;
}

.page-container {
    background-color: #242424;
}

.element-container {
    width: 90%;
    margin: 0 auto;
}

.sub-page-container {
    background-color: #ffffff;
}

.sub-element-container {
    width: 90%;
    margin: 0 auto;
}

.rooms-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}

.rooms-container {
    text-align: center;
    color: #fff;
    padding: 80px 20px;
    background-color: #242424;
}

.shop-title {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
}

.shop-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 500px;
}

.contaire-pizza span {
    color: #fff;
}

.contaire-pizza-room span {
    color: #000000;
}

.shop-item img {
    max-width: 100%;
    border-radius: 5px;
}

.shop-item h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.sub-item img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.shop-item p {
    font-size: 1.2em;
    color: #333;
}

.shop-item button {
    background-color: #ff6000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.shop-item button:hover {
    background-color: #df5600;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    z-index: 1000;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/* Start of subscription CSS */

.subs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}

.subs-container {
    text-align: center;
    color: #242424;
    padding: 80px 20px;
    background-color: #ffffff;
}

.sub-title {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    margin: 20px 0;
}

.sub-item {
    background-color: #242424;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.contaire-pizza {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.contaire-pizza-room {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.contaire-pizza span {
    display: flex;
    align-items: center;
    gap: 3px;
}

.contaire-pizza-room span {
    display: flex;
    align-items: center;
    gap: 3px;
}

img.pizza {
    width: 17px;
    height: auto;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.sub-item img {
    max-width: 100%;
    border-radius: 5px;

}

.sub-item h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.sub-item p {
    font-size: 1.2em;
    color: #ffffff;
}

.sub-item button {
    background-color: #ff6000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.sub-item button:hover {
    background-color: #df5600;
}